*.mga
tmp/
log/
results/
config/
requirements/
test-benches/
archive/
designs/
design-space/
_deleted/
merged/
metalink/
manifest.project.json
CyPhy2CAD.log

components/**/trail.txt.*
components/**/*.acm
components/**/_FAILED.txt
components/**/std.out
components/**/std.err
components/**/config.pro
components/**/config.pro
components/**/*merged_log.xml
components/**/reviewref.inf
components/**/*.m_p

manifest.project.json

*.pyc
*.idea